@model DataAccess.Models.AdminModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/SmartTheme/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/SmartTheme/css/slick-theme.css">
    <link rel="stylesheet" href="~/SmartTheme/css/slick.css">
    <link rel="stylesheet" href="~/SmartTheme/font/fonts.css">
    <link rel="stylesheet" href="~/SmartTheme/css/style.css" />
    <link rel="stylesheet" href="~/SmartTheme/css/media.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/javascripts/custom/pnotify/pnotify.css" />
    <title>Bharat Touch</title>
    <link rel="icon" href="/SmartTheme/images/bharattouchfavico.ico" style="border-radius: 30px;" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <style>
        .field-icon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #aaa;
            z-index: 2;
        }

        .password-toggle-wrapper {
            position: relative;
        }
    </style>
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="~/SmartTheme/images/logo.svg" alt="logo"></a>
            </div>
        </nav>
    </header>

    @*@Html.Partial("_smartHeader")*@
    <section class="singup-form-outer">
        <div class="container">
            <div class="get-started-text">
                @*<h1 class="title-44">Log in</h1>*@
                @*<p>Create your account, customize your card, and place your order in just a few easy steps.*@
                @*Secure, personalized, and designed to grow your digital identity.</p>*@
            </div>

            <div class="step-form-outer">
                <div class="step-points">

                    <div class="sign-up-form">
                        <div id="sign-up" class="form-step active-step">
                            <h2>Reset Password</h2>

                            @*<div style="text-align: center;">
                                    <p class="m-none text-semibold h6">Enter your e-mail below and we will send you reset instructions!</p>
                                </div>*@
                            @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "changePasswordForm" }))
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="password-toggle-wrapper position-relative">
                                            @Html.TextBox("Password", "", new { @placeholder = "Password", @required = "true", @type = "password", @id = "Password" })
                                            <span toggle="#Password" class="toggle-password fa fa-fw fa-eye field-icon"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="password-toggle-wrapper position-relative">
                                            @Html.TextBox("ConfirmPassword", "", new { @placeholder = "Confirm Password", @required = "true", @type = "password", @id = "ConfirmPassword" })
                                            <span toggle="#ConfirmPassword" class="toggle-password fa fa-fw fa-eye field-icon"></span>
                                        </div>
                                    </div>

                                    <label style="color:red;">Password must be 8-16 chars, include uppercase, lowercase and a digit. </label>

                                    <div class="col-md-12 text-center">
                                        <button type="submit" id="btnResetUserPassword" class="btn-gradient next"> <div class="lds-dual-ring"></div> Reset</button>
                                    </div>
                                    @Html.HiddenFor(t => t.AuthToken)
                                    @Html.HiddenFor(t => t.UserId)
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    @Html.Partial("_smartFooter")
    <script src="~/Content/vendor/jquery/jquery.js"></script>


    <script src="~/SmartTheme/js/jquery.min.js"></script>
    <script src="~/SmartTheme/js/bootstrap.min.js"></script>
    <script src="~/SmartTheme/js/slick.min.js"></script>
    <script src="~/SmartTheme/js/custom.js"></script>

    <script src="~/Content/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Content/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Content/javascripts/custom/pnotify/pnotify.js"></script>
    <script src="~/Content/javascripts/custom/pnotify/PNotifyStyleMaterial.js"></script>
    <script src="~/Content/javascripts/custom/pnotify/PNotifyButtons.js"></script>
    <script src="~/Content/javascripts/custom/pnotify/PNotifyConfirm.js"></script>
    <script src="~/Content/javascripts/custom/pnotify/PNotifyMobile.js"></script>
    <script src="~/Content/javascripts/custom/jquery.validate.min.js"></script>
    <script src="~/Content/javascripts/custom/Shared.js"></script>
    <script src="~/Content/page-scripts/Users/ChangeUserPassword.js"></script>
    <script type="text/javascript">
        var auth = new changeUserPasswordinit();
        auth.init();
    </script>
    
</body>
</html>