@model  DataAccess.ViewModels.ModalViewModel

<div class="modal fade" id="@Model.ModalId">
    <div class="modal-dialog @Model.ModalSize">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" @Model.ModalStyle>
                @if (!string.IsNullOrEmpty(Model.PartialViewName))
                {
                    @Html.Partial(Model.PartialViewName, Model.PartialViewData)
                }
                else
                {
                    @Html.Raw(Model.BodyContent)
                }
            </div>
            <div class="modal-footer">
                @if (!string.IsNullOrEmpty(Model.CloseButtonText))
                {
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        @Model.CloseButtonText
                    </button>
                }
                @if (!string.IsNullOrEmpty(Model.PrimaryButtonText))
                {
                    <button type="button" class="btn btn-primary" onclick="@Model.PrimaryButtonOnClick" id="modalPrimaryButton">
                        <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true" id="modalLoader"></span>
                        @Model.PrimaryButtonText
                    </button>

                }
            </div>
        </div>
    </div>
</div>

