@model DataAccess.ViewModels.OrderAdminViewModel

<style>
    .resume .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid #1f5297;
        position: relative;
    }

        .resume .resume-item::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: #fff;
            border: 2px solid #1f5297;
        }

    .resume .resume-row {
        margin-bottom: 15px; /* Equal vertical spacing between rows */
        display: flex;
        align-items: center;
    }

    .resume .resume-label {
        font-size: 16px;
        font-weight: 600;
        min-width: 100px; /* You can adjust width for label alignment */
    }

    .resume .resume-value {
        font-size: 16px;
        color: black;
        background: #e4edf9;
        padding: 5px 15px;
        border-radius: 3px;
    }
</style>

<div class="resume">
    <div class="resume-item">
        <div class="resume-row">
            <span class="resume-label">Order No:</span>
            <span class="resume-value">@Model.OrderNo</span>
        </div>
        <div class="resume-row">
            <span class="resume-label">Date:</span>
            <span class="resume-value"> @(Model.OrderDate.HasValue ? Model.OrderDate.Value.ToString("dd MMMM yyyy") : "")</span>
        </div>
        <div class="resume-row">
            <span class="resume-label">Status:</span>
            <span class="resume-value">@Model.OrderStatus</span>
        </div>
        <div class="resume-row">
            <span class="resume-label">Amount:</span>
            <span class="resume-value">₹ @Model.TotalAmount</span>
        </div>
        @if (Model.PaymentMethod != null)
        {
            <div class="resume-row">
                <span class="resume-label">Method:</span>
                <span class="resume-value">@Model.PaymentMethod</span>
            </div>
        }

    </div>
</div>
