

@model IEnumerable<DataAccess.ViewModels.BT_BlogViewModel>
@using BharatTouch.CommonHelper;
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
    string weburl = System.Configuration.ConfigurationManager.AppSettings["WebUrl"];
}

<!DOCTYPE html>

<html lang="en">
<head>
</head>

<body>
    <div class="pagetitle">
        <h1>Blog</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Blog List</li>
            </ol>
        </nav>
    </div>

    <section>

        <div class="card">
            <div class="card-body">
                <button type="button" id="btnAddBlog" class="btn btn-success float-end mx-2"><i class="bi bi-plus-circle-dotted me-1"></i>Add New</button>
                <br />
                <br />
                <table class="table table-bordered table-striped" cellspacing="0" style="width:100%!important;" id="tableBlog_Admin">
                    <thead>

                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Title
                            </th>
                            @*<th>
                                Description
                            </th>*@
                            <th>
                                Keywords
                            </th>
                            <th>
                                TagLine
                            </th>
                            <th>
                                IsActive
                            </th>
                            <th>

                            </th>

                        </tr>

                    </thead>
                </table>

            </div>

        </div>
    </section>

</body>

</html>

@{
    var model = new DataAccess.ViewModels.ModalViewModel
    {
        ModalId = "ModaladdEditBlog",
        ModalSize = "modal-xl",
        Title = "Add/Edit Blog",
        CloseButtonText = "Close",
        PrimaryButtonText="Save",
        PrimaryButtonOnClick="SaveBT_BlogClick()",
        ModalStyle = "style=overflow-y:scroll;height:500px;"
    };
}
@Html.Partial("~/Views/Shared/Admin/_modal.cshtml", model)


@section scripts{
    <script src="~/Content/page-scripts/Admin/BlogIndex.js"></script>
    <script type="text/javascript">
    var ord = new listBlog_admin();
        ord.getAllBlogUrl = "@Url.Action("GetAllBlog", "Admin")";
        ord.deleteBlogUrl = "@Url.Action("DeleteBT_Blog", "Admin")";
        ord.addEditBlogUrl = "@Url.Action("AddEditBTBlog", "Admin")";
        ord.weburl = "@weburl";
        ord.init();
    </script>
}
