<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-wrap">
                    <a href="#"><img src="~/SmartTheme/images/logo.svg" alt="logo"></a>
                    <p>Bharat Touch Enterprises is India’s leading platform for smart, contactless networking. Powered by NFC and QR technology,</p>
                    <h4>Quick Links</h4>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="@Url.Action("BT_TermsOfServices","Home")">Terms of Service</a></li>
                            <li><a href="@Url.Action("BT_PrivacyPolicy", "Home")">Privacy Policy</a></li>
                            <li><a href="@Url.Action("BT_RefundAndShipping", "Home")">Refund & Shipping</a></li>
                            @*<li><a href="#">FAQs</a></li>*@
                            <li><a href="@Url.Action("ShippingAndDelivery_Policy", "Home")">Shipping & Delivery</a></li>
                            <li><a href="@Url.Action("BT_Blog", "Home")">Blogs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright-sec">
                    <p>© Copyright Bharat Touch Enterprises - 2025. All Rights Reserved</p>
                    @*<img src="~/SmartTheme/images/pyment.png" alt="image">*@
                <div style=" display: flex; justify-content: center; gap: 10px;">
                    <a href="https://www.youtube.com/channel/UCvGQK98THDFhwGHfx10oskA" target="_blank">
                        <img src="~/FormAssets/img/Icons/youtube.png" style="width: 50px !important;" class="ico ico-mg" />
                    </a>
                    <a href="https://www.instagram.com/bharat_touch/" target="_blank">
                        <img src="~/FormAssets/img/Icons/instagram.png" style="width: 50px !important;" class="ico ico-mg" />
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61573832856165" target="_blank">
                        <img src="~/FormAssets/img/Icons/facebook.png" style="width: 50px !important;" class="ico ico-mg" />
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>